/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container-row {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  position: relative;
}

.container-col {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.logoPage {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100%;
  position: relative;
  background-color: #ffcc0a;
}

.logo img {
  width: 100%;
  height: auto;
}

.loginPage {
  width: 60%;
  height: 100%;
  background-color: #259047;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
}

.formInput {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.formInput label {
  font-size: 18px;
  font-weight: 700;
}

.loginForm {
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: stretch;
}

.inputLogin {
  background-color: #f5f5f5;
  box-shadow: inset 1.5px 1.5px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.rememberMeSect {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 75.5px;
  padding-left: 75.5px;
  padding-bottom: 20px;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rememberMeLabel {
  font-size: 14px;
  font-weight: 700;
}

.rememberMeCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Style the custom checkbox */
.custom-checkbox .checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f5f5f5;
  box-shadow: inset 1.5px 1.5px 4px rgba(0, 0, 0, 0.2);
}

/* Style the checkmark */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

.loginBtn {
  outline: none;
  border: none;
  background-color: #259047;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 10px 50px;
  color: #ffffff;
  border-radius: 50px;
  transform: all 0.4s;
}

.startBtn {
  outline: none;
  border: none;
  background-color: #52c41a;
  width: 205px;
  height: 102.5px;
  cursor: pointer;
  padding: 10px 50px;
  color: #ffffff;
  border-radius: 50px;
  transform: all 0.4s;
}

.loginBtn:hover,
.startBtn:hover {
  background-color: #238041;
}

.logoPage {
  height: 100vh;
}

.indexFontSize {
  font-size: 38px;
  font-weight: 700;
}

.formPage {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  padding: 50px;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.submitPage {
  width: 50%;
  height: 100%;
  background-color: #259047;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.npwzBox {
  box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.npwzBox label {
  font-size: 28px;
  font-weight: 700;
}

.npwzBox input[type="text"] {
  outline: none;
  border: none;
  box-shadow: inset 1.5px 1.5px 4px rgba(0, 0, 0, 0.2);
  height: 40px;
  background-color: #f5f5f5;
  width: 400px;
}

.npwzText {
  padding: 5px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

.layananBox {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 50px 30px;
  align-items: center;
  justify-content: center;
}

.kotak {
  padding: 21.83px 26px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  background-color: #3a3a2f;
  box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.active {
  background-color: #259047;
}

input[type="checkbox"].hide {
  display: none;
}

.deskripsiFrame {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  height: 384px;
  justify-content: stretch;
}

.deskripsiFrame label {
  font-size: 28px;
  font-weight: 700;
}

.deskripsiText {
  border: none;
  resize: none;
  background-color: #f5f5f5;
  height: 300px;
  box-shadow: inset 1.5px 1.5px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

.submitPageBtn {
  width: 205px;
  height: 102.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
}

.stop {
  background-color: #faad14;
}

.selesai {
  background-color: #ff4d4f;
}

.stop:hover {
  background-color: #e09c13;
}

.selesai:hover {
  background-color: #ee4749;
}

.close {
  display: none;
}

.modalSelesai {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
}

.modalContent {
  border-radius: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: #ffffff;
  width: 720px;
  height: 400px;
}

.modalContent2 {
  border-radius: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 40px;
  background-color: #ffffff;
  width: 720px;
  height: auto;
}

.modalContent p {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
}

.modalContent2 p {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
}

.btnList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.iyaBtn {
  background-color: #52c41a;
}

.belumBtn {
  background-color: #ff4d4f;
}
